span.date {
	width: 24px;
	text-align: center;
	display: inline-block;
}

span.day {
	width: 32px;
	text-align: center;
	display: inline-block;
}

.saturday span {
	color: #0033cc;
}

.sunday span, .holiday span {
	color: #cc0033;
}

.time {
	width: 64px;
	height: 38px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-bottom: 1px solid #ddd;
}