.date {
  width : 25px;
  text-align : center;
  display : inline-block;
}
.day {
  width : 25px;
  text-align : center;
  float : left;
}
.weekday {
  color : #000000;
}
.saturday{
  color : #0000FF;
}
.sunday {
  color : #FF0000;
}