.in-button-col {
	text-align: right;
}

.out-button-col {
	text-align: left;
}

.timeDialog .dialog {
	height: 80%;
	min-width: 160px;
}

.timeDialog .item {
	text-align: center;
}

.input ons-row {
	background-color: #fff;
	min-height: 42px;
}

.label {
	padding-left: 8px;
}

.input ons-col ons-icon {
	width: 20px;
	text-align: center;
}

.input .text-input--underbar {
	width: 96%;
}

.time-input {
	font-size: x-large;
}

.quick-time-col {
	text-align: center;
}

.quick-time-input {
	font-size: xx-large;
	padding-top: 0;
	text-align: center;
}