<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="ja" ng-csp>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        
        <link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
        <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>
        <!-- CSP support mode (required for Windows Universal apps) -->
        <link rel="stylesheet" href="lib/angular/angular-csp.css" />
        
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-locale_ja-jp.js"></script>
        <script src="lib/onsen/js/onsenui.js"></script>
        <script src="lib/HolidayChk.js"></script>
        <script src="cordova.js"></script>
        
        <!-- このアプリ固有のファイル -->
        <link rel="stylesheet" href="css/index.css" />
        <script src="js/app.js"></script>
        <script src="js/listController.js"></script>
        <script src="js/kinmuService.js"></script>
        
        <title>勤務パンサー</title>
    </head>
    <body>
        <ons-page ng-controller="ListController as list">
            <ons-toolbar fixed-style="true">
                <div class="center">{{list.data.year}}年{{list.data.month}}月</div>
            </ons-toolbar>
            
            <ons-list>
                <ons-list-item ng-class="day.dayType" ng-repeat="day in list.data.days">
                    <span class="date">{{day.date | date: 'd'}}</span>
                    <span class="day">{{day.date | date: '(EEE)'}}</span>
                    <!-- 未入力時のレイアウト崩れを防ぐため&nbsp;を入れている -->
                    <span class="time" ng-click="list.inputIn(day)">&nbsp;{{day.inTime}}&nbsp;</span>
                    <span class="time" ng-click="list.inputOut(day)">&nbsp;{{day.outTime}}&nbsp;</span>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </body>
</html>
